<%= turbo_stream_from "stream_for_conversation_#{conversation.id}" %>

<meta name="conversation-id" content="<%= conversation.id %>">
<meta name="conversation-started" content="<%= conversation.started? %>">

<div id="<%= dom_id conversation %>">
  <%= render partial: "header", locals: {conversation: @conversation} %>
  <%= render partial: "buttons", locals: {conversation: @conversation} %>
  <%= render partial: "map", locals: {conversation: @conversation} %>  
  <%= render partial: "nearby_poi_list", locals: {conversation: @conversation} %>
  <%= render partial: "locations_list", locals: {conversation: @conversation} %>
  <%= render partial: "audio_remark_queue", locals: {conversation: @conversation} %>
</div>