<%= turbo_stream_from [conversation, "locations"] %>

<meta name="conversation-id" content="<%= conversation.id %>">
<meta name="conversation-started" content="<%= conversation.started? %>">

<div id="<%= dom_id conversation %>">

  <h1>This is conversation <%= conversation.id %></h1>
  <br>

  <div data-controller="conversation">
    <button data-action="click->conversation#start" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Start Conversation</button>
    <button data-action="click->conversation#end" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">End Conversation</button>
  </div>

    <!-- new audio remarks will be added to the bottom of this list -->
  <h2>Audio Queue</h2>
  <div id="audio-remark-queue">
  </div>
  
  <!-- this is disabled for the time being 
  <br>
  <h1>Location Records</h1>
  <ol id="locations">
    <% conversation.locations.last(10).each do |location| %>
      <%= render partial: 'locations/location_row', locals: { location: location } %>
    <% end %>
  </ol>
  -->
  
  <% if action_name != "show" %>
    <%= link_to "Show this conversation", conversation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this conversation", edit_conversation_path(conversation), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>

</div>