<div id="header">
  <h1>
    Program: <%= conversation.program.name %>
  </h1>
  <h2>
    Topic: <%= conversation.latest_topic %>
  </h2>
  <h3>
    Speakers: <%= conversation.program.speaker_names.join(', ') %>
  </h3>
  <h3>
    Unsent remarks: <%= conversation.unsent_remark_count %>
  </h3>
  <h3>
    Header last updated: <%= Time.zone.now %>
  </h3>
</div>