<%= turbo_stream_from "conversation_stream_#{@conversation.id}" %>
<meta name="conversation-id" content="<%= @conversation.id %>">
<meta name="conversation-started" content="<%= @conversation.started? %>">

<div id="<%= dom_id @conversation %>">
  <div data-controller="conversation">
    <button data-action="click->conversation#start" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Start</button>
    <button data-action="click->conversation#end" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">End</button>
  </div>
  <%= render "audio_remark_queue" %>
  <div id="map">
    <%= render partial: "map", locals: {conversation: @conversation} if @conversation.locations.any? %>
  </div>
  <div id="nearby-poi-list">
    <%= render partial: "nearby_poi_list", locals: {conversation: @conversation} if @conversation.locations.any? %>
  </div>
</div>

<script>
  document.addEventListener("turbo:before-stream-render", (event) => {
  console.log("Before stream render", event);
});

document.addEventListener("turbo:after-stream-render", (event) => {
  console.log("After stream render", event);
});
</script>
